* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
  background: #c4e6e7;
}
/* Create dynamic images*/
img {
  max-width: 100%;
  height: auto;
}

/* Header Title */
.header {
  padding: 30px;
  text-align: center;
  background: #c4e6e7;
  font-family: "Montserrat", sans-serif;
}

.header h1 {
  font-size: 75px;
  font-family: "Montserrat", sans-serif;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #04aca1;
  font-family: "Montserrat", sans-serif;
  border-radius: 25px;
  }

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 }

/* Change color on hover in top nav */
.topnav a:hover {
  background-color: #258a83;
  color: black;
}

/* to create a dynamic embeded video*/
.video-container {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
} 


/* Create two unequal columns*/
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  background-color: #c4e6e7;
  padding-left: 20px;
}

/* Add a card effect in content area */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px;
  text-align: justify;
}

.column {
  float: left;
  width: 50%;
  padding: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 5px;
  text-align: center;
  background: #04aca1;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
  border-radius: 25px;
}


/* When the screen is less than 925px wide, make header font size decrease */
@media screen and (max-width: 925px) {

  .header h1 {
  font-size: 55px;
  }
}

/* When the screen is less than 800px wide, 
make the two columns stack on top of each other instead of next to each other and header font size decrease*/
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
  .header h1 {
  font-size: 35px;
  }
}

/* When the screen is less than 480px wide, 
make the navigation links stack on top of each other instead of next to each other and header font size decrease further more */
@media screen and (max-width: 480px) {
  .topnav a {
    float: none;
    width: 100%;
  }
  .header h1 {
  font-size: 25px;
  }
  
  .column {
    width: 100%;
  }
}


